
.container {
  /* padding: 25px; */
  margin-top: 10px;
}

.row {
  height: auto;
}

div.teal {
  background-color: rgba(197, 253, 227, 1);
}

div.yellow {
  background-color: rgba(247, 243, 110, 1);
}

div.orange {
  background-color: rgba(226, 82, 56, 1);
}

div.red {
  background-color: rgba(211, 66, 70, 1);
}

div.blue {
  background-color: rgba(55, 124, 137, 1);
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 16pt
}

p.teal,
h1.teal,
h2.teal {
  color: #C5FDE3;
}

p.yellow,
h2.yellow {
  color: #F7F36E;
}

p.orange,
h2.orange {
  color: #E25238;
}

p.red,
h2.red {
  color: #D34246;
}

p.blue,
h2.blue {
  color: #377C89;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#to-request,
#request-appt,
#create-workshop {
  text-align: center;
}

.dashboard-item {
  padding: 25px;
  margin-top: 10px;
}



